@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background: #f5f5f5;
  --foreground: #2a2a2a;
  --card: #f7f7f7;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --breakpoint-*: initial;
}
@custom-variant 2xl (@media (max-width:1650px));
@custom-variant xl (@media (max-width:1399px));
@custom-variant lg (@media (max-width:1200px));
@custom-variant md (@media (max-width:992px));
@custom-variant sm (@media (max-width:768px));
@custom-variant xs (@media (max-width:480px));
@custom-variant xxs (@media (max-width:360px));
@theme inline {
  --spacing-element: calc(var(--spacing) * 6);
  --spacing-mini-element: calc(var(--spacing) * 3);
}
.dark {
  --foreground:  #f5f5f5;
  --background: #121212;
  --card: #1a1a1a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  background-color: var(--background);
  color: var(--foreground);
}

button {
  @apply cursor-pointer;
}
